extends layout

block body
	.container
		div
			.hero-unit
				h1 AfeMartin 
					small (Node + Express + Angular)
		footer.well afemartin.herokuapp.com &copy; 2013				

	script(src='vendors/angular-1.0.7/angular.min.js')
	script(src='vendors/jquery-2.0.2/jquery-2.0.2.min.js')
	script(src='vendors/bootstrap-2.3.2/js/bootstrap.min.js')