/**
 * APP STYLES
 **************************************/

body {
	margin-top: 20px;
	margin-bottom: 20px;
}

section {
	margin-bottom: 20px;
}

footer .well {
	text-align: center;
}

/**
 * BOOSTRAT OVERRIDE FIXES
 **************************************/

legend + .control-group {
    margin-top: 0;
}

.js-film-delete {
	cursor: pointer;
	text-align: center;
}